<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    
</head>
<body>
    <%- include('partials/navbar') %>

    <%- include('pages/landing') %>
    <%- include('pages/login') %>
    <%- include('pages/register') %>
    <%- include('pages/dashboard') %>
    <%- include('pages/pricing') %>

    <%- include('partials/footer') %>
    <%- include('partials/modals') %>
    <%- include('partials/toast') %>
    <%- include('partials/scripts') %>
</body>
</html>

